<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Date and Time</title>
    <style>
        h2 {
            text-align: center;
        }
        div {
            width: 60%;
            margin: 2em auto;
        }
        div p {
            text-align: center;
        }
    </style>
</head>
<body>
    <h2>The Current Time and Date:</h2>
    <div>
        <p><%= @date %></p>
        <p><%= @time %></p>
    </div>
</body>
</html>